@import "../../style/variables";

.edit-wrap {
  .title-input {
    width: 100%;
    padding: 12px 80px 10px 40px;
    margin-bottom: 0;
    border: none;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #595959;
    background-color: transparent;
    outline: none;
    border-radius: 0;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .operate-list {
    wodth: 100%;
    height: 30px;
    background: $edit-header-nav-bg-color;
    list-style: none;
  }
  textarea {
    width: 100%;
    height: 100%;
    padding: 40px 40px 80px;
    resize: none;
    border: none;
    outline: none;
  }

  .operate-list {
    li {
      cursor: pointer;
      width: 30px;
      height: 30px;
      position: relative;
      float: right;
      background: $edit-header-nav-icon-bg-color;
      &:hover {
        background: $edit-header-nav-icon-bg-color_hover
      }
      i {
        color: $edit-header-nav-icon-color;
        width: 20px;
        height: 20px;
        top: 5px;
        left: 5px;
        text-align: center;
        position: relative;
      }
    }
  }

  textarea {
    font-size: 14px;
    line-height: 1.5;
    color: $edit-textarea-color;
  }
}
.edit-wrap, .view-wrap {
  width: 50%;
  margin: 0px;
  overflow: hidden;
}
.view-wrap {
  left: 50%;
  overflow-y: auto;
  color: #333;
  background-color: #fbfbfb;
  padding: 8px 40px 80px;
  font-size: 16px;
  line-height: 1.75;
}
