@import "../../style/color";

.nav-wrap {
  font-size: 13px;
  .ivu-icon {
    &:hover {
      color: #d46f16;
    }
  }
  ul, li {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  ul {
    padding-left: 12px;
    transition: all 0.4s;
  }
  li {
    position: relative;
    cursor: pointer;
    .my-icon {
      position: absolute;
      left: -15px;
      width: 15px;
      width: 15px;
      transform: rotate(0deg);
      transition: transform 0.4s;
      i {
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: middle;
      }
    }

    span {
      display: inline-block;
      //margin-left: 16px;
    }
    > ul {
      height: 0px;
      overflow: hidden;

    }
    &.open {
      > ul {
        height: auto;
      }
      > .my-icon {
        transform: rotate(90deg);
      }
    }
    &.active {
      > .nav-title {
        background: #ccc;

      }
    }
    // input 添加操作
    .opwrap {
      display: none;
      position: relative;
      input {
        width: 100%;
        border: none;
        border-bottom: 1px solid #cccccc;
        outline: none;
        background: transparent;
        padding-right: 30px;
      }
      span {
        width: 15px;
        height: 15px;
        position: absolute;
        right: 0px;
        top: 0px;
        i {
          width: 100%;
          text-align: center;
          vertical-align: middle;
        }
      }
      .op-cancel {
        right: 15px;
      }
    }

    &.showadd {
      > .opwrap {
        display: block;
      }
    }

    .nav-title {
      width: 100%;
      .title {
        width: 100%;
      }
      .add-btn, .edit-btn {
        //margin-left: 3px;
        opacity: 0;
      }
      .add-btn, .edit-btn, .title-save, .title-save-cancel {
        width: 12px;
        height: 12px;
        text-align: center;
        position: absolute;
        right: 12px;
        top: 0px;
      }
      .add-btn, .title-save-cancel {
        position: absolute;
        right: 0px;
        top: 0px;
      }
      &:hover {
        .add-btn, .edit-btn {
          opacity: 1;
        }
      }
      a {
        padding-right: 24px;
        height: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        color: var(--blue);
        width: 100%;
        &:hover {
          color: var(--blue-light);
          text-decoration: underline;
        }
      }
      input {
        outline: none;
        position: absolute;
        top: 0px;
        background: transparent;
        font-size: 13px;
        line-height: 20px;
        border: none;
        border-bottom: 1px solid #ccc;
        width: 100%;
        padding-right: 30px;
        height: 20px;
      }
    }
  }
}