<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../app.css">
    <link rel="stylesheet" href="../iview.css">
    <!--<link rel="stylesheet" href="https://unpkg.com/iview@2.14.3/dist/styles/iview.css">-->
</head>
<body>
<div id="app"></div>
<script>
    try {
//        window.page = ${page_str};
        window.navs =${navs};
    }
    catch (e) {
        window.page = {};
    }
    window.active_id = "1532235168414";
</script>
<script src="http://crossorigin.kukuplay.com/cdns/zyuser/201704//static/js/jquery-1.9.2_9684773.js"></script>
<script src="//j1.58cdn.com.cn/frs/lib/vue/vue.2.5.16.min.js"></script>

<script src="../app.js"></script>

</body>
</html>