<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../page.css">
</head>
<body>
<header>
    <div class="material-bar"></div>
    <div class="appbar-container"></div>
</header>
<div class="fe-content">
    <section class="primary-container">
        <div class="page-width-container">
            <div class="main-content">
                <article class="page md_1">
                    <section class="article-container" data-stats-ve="35">
                      ${htmlstr}
                    </section>
                </article>
            </div>
            <div class="primary-nav">
                <nav>
                    <div class="sibling-nav" data-stats-ve="3" data-stats-imp=""><h4><a class="title-link"
                                                                                        href="/chrome/?hl=en#topic=7439636">Help</a>
                    </h4>
                        <ul class="sibling-list">
                            <li><a class="sibling-link" href="/chrome/answer/2391819?hl=en&amp;ref_topic=7439636">Use
                                tabs &amp; suggestions</a></li>
                            <li><a class="sibling-link" href="/chrome/answer/95440?hl=en&amp;ref_topic=7439636">Search
                                the web on Chrome</a></li>
                            <li><a class="sibling-link" href="/chrome/answer/95426?hl=en&amp;ref_topic=7439636">Set your
                                default search engine</a></li>
                            <li><a class="sibling-link" href="/chrome/answer/95759?hl=en&amp;ref_topic=7439636">Download
                                a file</a></li>
                            <li><a class="sibling-link" href="/chrome/answer/6258784?hl=en&amp;ref_topic=7439636">Use or
                                fix Flash audio &amp; video</a></li>
                            <li><a class="sibling-link" href="/chrome/answer/7343019?hl=en&amp;ref_topic=7439636">Read
                                pages later and offline</a></li>
                            <li><a class="sibling-link" href="/chrome/answer/7632919?hl=en&amp;ref_topic=7439636">See a
                                site by turning off Chrome's ad blocker</a></li>
                            <li><a class="sibling-link sibling-link--current" href="#">Print from Chrome</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </section>
</div>
</body>
</html>