<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title222</title>
    <link rel="stylesheet" href="../all.css">
    <link rel="stylesheet" href="../iview.css">
</head>
<body>
<div id="app"></div>
<script>
    try {
        window.navs =${navs};
        window.space =${space};
    }
    catch (e) {
        window.page = {};
    }
    window.active_id = "1532235168414";
</script>
<script src="http://crossorigin.kukuplay.com/cdns/zyuser/201704//static/js/jquery-1.9.2_9684773.js"></script>
<script src="//j1.58cdn.com.cn/frs/lib/vue/vue.2.5.16.min.js"></script>

<script src="../app.js"></script>

</body>
</html>