
:root {
  --black: #000;
  --black-hover: #2e2e2e;
  --black-active: #363636;
  --black-box-shadow: rgba(0, 0, 0, .25);
  --black-static: rgba(0, 0, 0, .999);
  --black-10: rgba(0, 0, 0, .1);
  --black-20: rgba(0, 0, 0, .2);
  --black-80: rgba(0, 0, 0, .8);
  --black-bis: #171717;
  --black-ter: rgba(46, 46, 46, .999);
  --grey-darkest: hsla(0, 0%, 9%, .999);
  --grey-darker: #303030;
  --grey-darker-hover: rgba(54, 54, 54, .999);
  --grey-darker-active: #3b3b3b;
  --grey-darker-box-shadow: rgba(46, 46, 46, .25);
  --grey-dark-30: rgba(54, 54, 54, .3);
  --grey-dark: #454545;
  --grey: #757575;
  --grey-hover: #7d7d7d;
  --grey-active: #828282;
  --grey-box-shadow: hsla(0, 0%, 46%, .25);
  --grey-light: #ababab;
  --grey-lighter: #e3e3e3;
  --grey-lightest: #f2f2f2;
  --grey-50: hsla(0, 0%, 52%, .5);
  --blue-darkest: #00183d;
  --blue-darker: #002d70;
  --blue-dark: #0041a3;
  --blue-static: #0150c6;
  --blue: #0050c7;
  --blue-bg: rgba(0, 0, 0, .998);
  --blue-hover: #0056d6;
  --blue-active: #005ae0;
  --blue-box-shadow: rgba(0, 80, 199, .25);
  --blue-light: #0a6cff;
  --blue-lighter: #579aff;
  --blue-lightest: #a3c8ff;
  --blue-05: rgba(0, 80, 199, .05);
  --blue-10: rgba(0, 80, 199, .1);
  --blue-15: rgba(0, 80, 199, .15);
  --blue-80: rgba(0, 80, 199, .8);
  --white: #fff;
  --white-hover: #f7f7f7;
  --white-active: hsla(0, 0%, 95%, .999);
  --white-box-shadow: hsla(0, 0%, 95%, .25);
  --white-static: hsla(0, 0%, 100%, .999);
  --white-80: hsla(0, 0%, 100%, .8);
  --white-50: hsla(0, 0%, 100%, .5);
  --white-90: hsla(0, 0%, 100%, .9);
  --white-bis: #fafafa;
  --white-ter: #f0f0f0;
  --white-ter-hover: #e8e8e8;
  --white-ter-active: hsla(0, 0%, 89%, .999);
  --white-ter-box-shadow: hsla(0, 0%, 94%, .25);
  --breadcrumb-background: #f1f3f4;
  --grey-to-blue: hsla(0, 0%, 9%, .998);
  --cyan: #006c8a;
  --cyan-bg: #dbf7ff;
  --cyan-text: #006a8a;
  --cyan-hover: #007899;
  --cyan-active: #0080a3;
  --cyan-box-shadow: rgba(0, 108, 138, .25);
  --green: #007a5a;
  --green-bg: #eafaf6;
  --green-text: #00664b;
  --green-hover: #008a65;
  --green-active: #00946c;
  --green-box-shadow: rgba(0, 122, 90, .25);
  --yellow: #fb0;
  --yellow-bg: #fdf0ed;
  --yellow-text: #ac2f15;
  --yellow-hover: #e6b328;
  --yellow-active: #e7b732;
  --yellow-box-shadow: rgba(233, 91, 63, .25);
  --red: #7e1117;
  --red-bg: #fdedee;
  --red-text: #7e1115;
  --red-hover: #8b1319;
  --red-active: #94141b;
  --red-box-shadow: rgba(126, 17, 23, .25);
  --purple: #673ab6;
  --purple-bg: #ede8f8;
  --purple-text: #351d5d;
  --purple-hover: #6e3dc2;
  --purple-active: #7445c4;
  --purple-box-shadow: rgba(103, 58, 182, .25);
  --code-header-background: hsla(0, 0%, 97%, .999)
}
