
.md_1 {
  font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
  color: #212121;
  line-height: 20px;
  background: transparent;
  font-size: 13px;
  h1, h2, h3, h4, h5 {
    color: #212121;
    font-weight: 400
  }

  h1 {
    font-size: 34px;
    line-height: 40px;
    margin:32px 0  8px;
  }

  h2 {
    line-height: 32px;
    margin: 28px 0 8px;
    font-size: 24px;
  }

  p {
    margin: 4px 0 12px;
  }

  ol li, ul li {
    margin: 4px 0 4px 20px;
  }
  ol, ul, div {
    margin: 4px 0 12px;
    padding: 0px;
  }
  a {
    color: #4285f4;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: #7759ae;
    }
  }
}